In [3]:
# 딥러닝 Review

In [4]:
# 필수 라이브러리
import pandas as pd
import numpy as np
import random
import tensorflow as tf

In [35]:
# 랜덤시드고정 : 테스트할때마다 동일한 데이터를 가지고 학습하기위해서 랜덤값을 고정
# 파일 읽어오기
drive_path = './wine/data/'
train = pd.read_csv(drive_path+'train.csv')
test = pd.read_csv(drive_path+'test.csv')
submission = pd.read_csv(drive_path+'sample_submission.csv')
train.shape, test.shape, submission.shape

((5497, 14), (1000, 13), (1000, 2))

In [36]:
train.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

In [37]:
submission.head()  # 제출파일... quality 컬럼에 최종 예측한 값을 넣어서 제출

   index  quality
0      0        0
1      1        0
2      2        0
3      3        0
4      4        0

In [38]:
# 와인의 전반적인 정보취득... type의 데이터 본다.
train['type'].value_counts()

white    4159
red      1338
Name: type, dtype: int64

In [39]:
white_index = train[train['type'] == 'white'].index
red_index = train[train['type'] == 'red'].index
train.loc[white_index,['type']] = 1
train.loc[red_index,['type']] = 0
train.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,1
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,1
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,1
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,1

In [42]:
#숫자로 타입을 변경
train['type'] = train['type'].astype(int)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 5497 non-null   int64
 1   quality               5497 non-null   int64
 2   fixed acidity         5497 non-null   float64
 3   volatile acidity      5497 non-null   float64
 4   citric acid           5497 non-null   float64
 5   residual sugar        5497 non-null   float64
 6   chlorides             5497 non-null   float64
 7   free sulfur dioxide   5497 non-null   float64
 8   total sulfur dioxide  5497 non-null   float64
 9   density               5497 non-null   float64
 10  pH                    5497 non-null   float64
 11  sulphates             5497 non-null   float64
 12  alcohol               5497 non-null   float64
 13  type                  5497 non-null   int32
dtypes: float64(11), int32(1), int64(2)
memory usage: 579.9 KB

In [44]:
# 레이블 : 정답데이터, 목표변수
train['quality'].value_counts()

6    2416
5    1788
7     924
4     186
8     152
3      26
9       5
Name: quality, dtype: int64

In [46]:
# 레이블 즉 정답 또는 목표변수가 두가지 타입이아니라 3개 이상이면 서로 영향을 주는 형태의 숫자이기때문에
# one - hot - incoding을 실시한다
# 1 2 3
# 100
# 010
# 001
# 3을 차감해서 와인등급을 0 ~ 6 범위로 변경
(train.loc[:,'quality']-3).value_counts()

3    2416
2    1788
4     924
1     186
5     152
0      26
6       5
Name: quality, dtype: int64

In [50]:
from tensorflow.keras.utils import to_categorical
y_train = to_categorical(train.loc[:,'quality']-3)
y_train[0]

array([0., 0., 1., 0., 0., 0., 0.], dtype=float32)

In [ ]:
#